name: Test

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  generate-matrix:
    name: Generate matrix for tests
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set matrix
        id: set-matrix
        run: |
          MODULES=$(find . -type f -name "go.mod" | sed -e 's#/go.mod##g' | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=${MODULES}" >> $GITHUB_OUTPUT

  test:
    name: Run tests
    needs: generate-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - name: Test module
        working-directory: ${{ matrix.module }}
        run: make tests
